{% extends "MesClicsAdminBundle::layout.html.twig" %} 

{% block deskHeadNavRails %}
    <a href="{{ path('mesclics_admin_home') }}" class="desk-head-nav_rails--item">
        Console d'administration</a>
    >
    <a href="{{ path('mesclics_admin_clients') }}" class="desk-head-nav_rails--item">Clients</a>
    >
    <a href="{{ path('mesclics_admin_client', {'client_id': client.id}) }}" class="desk-head-nav_rails--item">{{ client.nom }}</a>
    >
    <a href="{{ path('mesclics_admin_client_' ~ subSection, {'client_id': client.id}) }}" class="desk-head-nav_rails--item">{{ subSection }}</a>
    >
    <a href="{{ path('mesclics_admin_client_projet', {'client_id': client.id, 'projet_id': projet.id}) }}" class="desk-head-nav_rails--item">{{ projet.nom }}</a>
{% endblock deskHeadNavRails %}

{% block deskMain %}
    {% include "MesClicsEspaceClientBundle:Widgets:client-nav.html.twig" %}
    {% with {'form': projetForm} %}{% include "MesClicsEspaceClientBundle:Widgets:client-projet-edit.html.twig" %}{% endwith %}
{% endblock deskMain %}