{# {% set currentProjet = '' %}
{% for projet in client.projets %} 
    {% set currentProjet = projet %}
{% endfor %} #}

{% block projet %}
    <h2 class="[ oocss-title-section ]">Projet : {{ currentProjet.nom }}</h2>
    {% if currentProjet.contrat %}   
        <p>Ce projet fait partie du contrat n° {{ currentProjet.contrat.numero }}</p>
        <!--TODO: ajouter bouton pour délier du contrat -->
        {% if (projetDissocierContratForm is defined) %}
            {{ form_start(projetDissocierContratForm) }}
                {{ form_row(projetDissocierContratForm._token) }}
                {{ form_row(projetDissocierContratForm.dissocier) }}
            {{ form_end(projetDissocierContratForm, {'render_rest': false}) }}
        {% endif %}
    {% else %}
         {% if (projetAssocierContratForm.contrat is defined) and (projetAssocierContratForm.contrat.vars['choices'] | length > 0) %}
        <!-- relier le projet à un contrat -->
            <h3>Relier le projet à un contrat</h3>
            <!-- ici on inclue le formulaire permettant de relier le projet à un contrat -->
            {% block associateContrat %}
                {{ form_start(projetAssocierContratForm) }}
                    {{ form_errors(projetAssocierContratForm) }}
                    {{ form_row(projetAssocierContratForm.contrat) }}
                    {{ form_row(projetAssocierContratForm._token) }}
                    {{ form_row(projetAssocierContratForm.associer) }}
                {{ form_end(projetAssocierContratForm, {'render_rest': false}) }}
            {% endblock associateContrat %}
        {% endif %}
    {% endif %}
    <!-- ACTIONS sur le projet -->
    <!-- si le projet n'est pas terminé on peut modifier ses données (type, nom) -->
    
{% endblock projet %}