{% block listeProjets %}
    <h2 class="[ oocss-title-section ]">Projets</h2>
    {% if projets is defined %}
    <h3>Projets du client</h3>
    <table>
        <tr>
            <th>nom</th>
            <th>type</th>
            <th>contrat</th>
            <th>terminé</th>
        </tr>
        {% for projet in projets %}
            <tr>
                <td class="[ oocss-table-data ]"><a href="{{path('mesclics_admin_client_projet', { 'client_id' : client.id, 'projet_id' : projet.id })}}">{{ projet.nom }}</a></td>
                <td class="[ oocss-table-data ]">{{ projet.type }}</td>
                <td class="[ oocss-table-data ]">
                    {% if projet.contrat is not null %}
                        {{ projet.contrat.numero }}
                    {% endif %}
                </td>
                <td class="[ oocss-table-data ]">
                    {% if projet.closed %}&#10003;{% endif %}
                </td>
            </tr>
        {% endfor %} 
    </table>   
    {% endif %}
{% endblock listeProjets %}

{% block addProjet %}
    <h3>Ajouter un projet</h3>
    {# TODO: ajouter formulaire d'ajout de projet #}
    {{ form(projetsForm) }}
    {{ form_start(projetsForm) }}
    
    {{ form_rest(projetsForm)}}
    {{ form_end(projetsForm) }}
{% endblock addProjet %}