{% extends "MesClicsAdminBundle::widget-layout.html.twig" %}

{% block widgetContent %}
    {% set form = widget.form.createView() %}
    {{ form_start(form) }}
        <div class="oocss-form-fieldset">
            <div class="oocss-block oocss-vertical">
                <div class="oocss-form-row">
                    {% if widget.projet.dateCreation %}
                        <label class="oocss-label">Créé le</label>
                        <span>{{ widget.projet.dateCreation|date("d/m/Y")|default("-") }}{{ widget.projet.dateCreation|date(" à H\\hi")|default("") }}</span>
                    {% endif %}
                </div>
                {% if widget.projet.isClosed %}
                    <label class="oocss-label">Clos le</label>
                    <span>{{ widget.projet.dateCloture|date("d/m/Y")|default("-") }}{{ widget.projet.dateCloture|date(" à H\\hi")|default("") }}</span>
                {% endif %}
            </div>

            <div class="oocss-form-row oocss-justify-center">
                <label class="oocss-label">client</label>
                <a class="oocss-block oocss-vertical oocss-center-all" href="{{ path('mesclics_admin_client', {'client_id': widget.projet.client.id}) }}">
                    <img class="oocss-image oocss-s" src={{ widget.projet.client.image.url }} alt={{ widget.projet.client.image.alt }}
                    title={{ widget.projet.client.image.title }} />
                    <span class="oocss-discret">{{ widget.projet.client.nom }} ({{ widget.projet.client.numero }})</span>
                </a>
            </div>

            <div class="oocss-form-row oocss-justify-end">
                {% if widget.projet.lastUpdate %}
                    <label class="oocss-label">Dernière modification le</label>
                    <span>le {{ widget.projet.lastUpdate|date("d/m/Y") }}{{ widget.projet.lastUpdate|date(" à H\\hi"|default("")) }}</span>
                {% endif %}
            </div>
        </div>
        {{ form_row(form.nom, {'attr': {'class': 'oocss-full-container-width'}, 'widget_attr': {'class': 'oocss-full-container-width'}, 'label': 'Quel nom donner au projet ?'}) }}
        {{ form_row(form.type, {'attr': {'class': 'oocss-full-container-width'}, 'widget_attr': {'class': 'oocss-full-container-width'}, 'label': 'De quel type de projet s\'agit-il ?', 'help': 'par ex : web, design, conseil etc...'}) }}
        {% if widget.projet.id is defined %}
            {% if not widget.projet.isClosed %}
                {{ form_row(form.isClosed, {'attr': {'invertLabel': true}, 'label': 'Clore le projet'}) }}
            {% endif %}
        {% endif %}

        <div class="oocss-form-fieldset oocss-horizontal oocss-center-v">
            {{ form_row(form.submit, {'attr': {'class': 'oocss-button oocss-headed-block oocss-horizontal oocss-s save'},'label': 'enregistrer les modifications'}) }}

            <div class="oocss-form-row oocss-justify-end">
                <button data-popup-path={{ absolute_url(path('mesclics_admin_client_projet_remove', {'client_id': widget.projet.client.id, 'projet_id': widget.projet.id})) }} class="oocss-button oocss-headed-block oocss-discret oocss-horizontal oocss-s client-projets-remove oocss-open-popup">Supprimer le projet</button>
            </div>
        </div>
        {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock widgetContent %}