<section class="oocss-widget medium highlight2 client-contrats-info">
    <div class="oocss-widget--head">
        <h2 class="oocss-widget--title">Par où commencer ?</h2>
    </div>
    <div class="oocss-widget--content">
        <div class="oocss-widget--content-zone">
            <h3>Qu'est-ce qu'un contrat ?</h3>
            <p class="">Un contrat est un accord commercial passé entre mesclics et un client. Il peut être composé d'un seul ou de plusieurs projets.</p>
        </div>

        <img class="oocss-s oocss-image oocss-full-container-width" src={{ widget.client.image.url }}
            alt={{ widget.client.image.alt }} title={{ widget.client.image.title|default('logo du client') }} />
        <p class="oocss-instruction oocss-center-all">Vous n'avez pas encore de contrat avec {{ widget.client.nom }}.</p>
        <p class="oocss-instruction oocss-center-all">
            <a class="oocss-button oocss-headed-block oocss-s client-contrats-new"
                href="{{ path('mesclics_admin_client_contrats_add', {'client_id': widget.client.id})}}">Ajouter un contrat</a>
        </p>
    </div>
</section>