<section class="client_new_widget [ oocss-widget oocss-widget highlight ]">
    <div class="[ oocss-widget--head ] oocss-widget--head__d__new">
        <h2 class="[ oocss-title-section ]">Ajouter un client</h2>
    </div>
    <div class="[ oocss-widget--content ]">
        {{ form_start(client_new_form, {'attr' : {'class': '[ oocss-form__d__mini ]'}}) }}
        {{ form_errors(client_new_form) }}
        {{ form_row(client_new_form.prospect) }}
        {{ form_row(client_new_form.nom) }}
        {{ form_row(client_new_form.image) }}
        {{ form_row(client_new_form.ajouter, {'attr' : {'class': '[ oocss-form-submit ]'}})  }}
        {{ form_rest(client_new_form) }}
        {{ form_end(client_new_form)}}
    </div>
</section>