<section class="oocss-widget large client-projets">
    <div class="oocss-widget--head">
        <h2 class="oocss-widget--title">Projets</h2>    
    </div>

    <div class="oocss-widget--content">
        <div class="oocss-table oocss-full-container-width">
            <div class="oocss-table-row">
                <span class="oocss-table-head none-on-small-screens">créé le</span>
                <span class="oocss-table-head none-on-small-screens">modifié le</span>
                <span class="oocss-table-head">nom</span>
                <span class="oocss-table-head">type</span>
                <span class="oocss-table-head">contrat</span>
                <span class="oocss-table-head">terminé</span>
                <span class="oocss-table-head"></span>
            </div>
            {% for projet in projets %}
            <div class="oocss-table-row oocss-clickable-table-row" data-link={{path('mesclics_admin_client_projet', { 'client_id' : client.id, 'projet_id' : projet.id })}}>
                <span class="oocss-table-data none-on-small-screens">
                    {% if projet.dateCreation is not null %}
                        {{ projet.dateCreation|date("d/m/Y") }}{{ projet.dateCreation|date(" à h\\hm") }}
                    {% else %}
                        -
                    {% endif %}
                </span>
                <span class="oocss-table-data none-on-small-screens">
                    {% if projet.lastUpdate is not null %}
                        {{ projet.lastUpdate|date("d/m/Y") }}{{ projet.lastUpdate|date(" à h\\hm") }}
                    {% else %}
                        -
                    {% endif %}
                </span>
                <span class="oocss-table-data">{{ projet.nom }}</a>
                </span>
                <span class="oocss-table-data">{{ projet.type }}</span>
                <span class="oocss-table-data">
                    {{ projet.contrat.numero|default("-") }}
                </span>
                <span class="oocss-table-data">
                    {% if projet.closed %}&#10003;{% else %} - {% endif %}
                </span>
                <span class="oocss-table-data">
                    <button class="oocss-input-button oocss-discret oocss-table-data-icon oocss-open-popup" title="supprimer le projet" data-popup-path= {{ absolute_url(path('mesclics_admin_client_projet_remove', {'client_id': client.id, 'projet_id': projet.id})) }}>
                        {{ source('@mesclicsbundle/images/svg/trash.svg') }}
                    </button>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>