{% extends "MesClicsAdminBundle::widget-layout.html.twig" %}

{% set form = widget.form.createView() %}

{% block widgetContent %}
    {{ form_start(form) }}
        <div class="oocss-form-fieldset oocss-horizontal">
            {{ form_row(form.dateSignature, {'label': 'date de signature'}) }}
            <div class="oocss-form-row oocss-justify-end">
                <span class="oocss-label">dernière modification</span>
                <span>le {{ widget.contrat.lastUpdate|default("")|date("d/m/Y") }} à
                    {{ widget.contrat.lastUpdate|default("")|date("H\\hi") }}</span>
            </div>
        </div>
        {{ form_row(form.type) }}
        <div class="oocss-form-fieldset oocss-horizontal">
            {{ form_row(form.submit, {'label': 'enregistrer les modifications', 'attr': {'class': 'oocss-headed-block oocss-horizontal oocss-s save'}})
            }}
            <div class="oocss-form-row oocss-justify-end">
                <button
                    data-popup-path={{ absolute_url(path('mesclics_admin_client_contrat_remove', {'client_id': widget.contrat.client.id, 'contrat_id': widget.contrat.id})) }}
                    class="oocss-button oocss-open-popup oocss-headed-block oocss-discret oocss-horizontal oocss-s client-contrats-remove">Supprimer
                    le contrat</button>
            </div>
        </div>
        {{ form_row(form._token) }}
    {{ form_end(form, {"render_rest": false}) }}
{% endblock widgetContent %}