<section class="oocss-widget large clients-list">
    <div class="oocss-widget--head">
        <h2 class="oocss-widget--title">Liste des clients</h2>
    </div>

    <div class="oocss-widget--content">
        <div class="oocss-widget--content-zone">
            <div class="oocss-filters oocss-block oocss-horizontal" data-filters="name:prospect/class:isProspect|name:client/class:isClient" data-filters-target-class="clients-list-filterable" data-filters-title="h3/filtrer">
                <button class="oocss-filters-button oocss-legend--item">
                    <span class="oocss-index oocss-filters-button-class"></span>
                    <span data-filters-button-textContent></span>
                </button>
            </div>
        </div>
        <table class="oocss-table oocss-full-container-width oocss-sortable clients-list-filterable">
            <tr class="oocss-table-head-row">
                <th class="none-on-small-screens">logo</th>
                <th class="oocss-sortable">numero</th>
                <th class="oocss-sortable">nom</th>
                <th class="none-on-small-screens">alias</th>
                <th class="none-on-small-screens oocss-sortable">dernière modification</th>
                <th class="oocss-sortable">prospect</th>
            </tr>

            {% for item in clients %}
            <tr class="oocss-table-row oocss-clickable-table-row oocss-filterable {% if item.prospect %}isProspect{% else %}isClient{% endif %}" data-link="{{ path('mesclics_admin_client', { 'client_id' : item.id }) }}">

                <td class="oocss-table-data oocss-table-data__d__discret none-on-small-screens">
                   {% if item.image is defined and item.image is not null %}<img class="oocss-image oocss-s" src="{{ item.image.url }}" alt="{{ item.image.alt }}"/>{% endif %}
                </td>
                
                <td class="oocss-table-data">
                    {{ item.numero }}
                </td>
                
                <td class="oocss-table-data">
                    {{ item.nom }}
                </td>
                
                <td class="oocss-table-data none-on-small-screens">
                   {{ item.alias }}
                </td>
               
                <td class="oocss-table-data none-on-small-screens">
                   {{ item.updatedAt|date('d/m/Y') }}
                </td>
             
                <td class="oocss-table-data">
                    {% if item.prospect %}&#10003;{% endif %}
                </td>
            
            </tr>
            {% endfor %}
        </table>
    </div>
</section>